.header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 20px 0;
}

button {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 5px 10px;
  color: #a7a7a7;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

  &:active {
    background-color: #224d39;
  }

  &:hover {
    background-color: #98fdc231;
    box-shadow: 1px 1px 5px #224d39;
  }
}
